<#@ template debug="true" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(TargetDir)AutoWrapper.dll" #>
<#@ assembly name="System.DirectoryServices" #>
<#@ import namespace="AutoWrapper" #>
<#@ import namespace="System.DirectoryServices" #>
<# 
	var container = new WrappedTypeContainer().RegisterAssemblyWithType(typeof(DirectoryEntry));
#>
<#= AutoWrap.GenerateCode("AutoWrapper.Samples.WrappersForDirectoryServices", container) #>